; 请妥善保管您的配置
registry=https://persagy2021-npm.pkg.coding.net/yushu_web/npm/
always-auth=true
//persagy2021-npm.pkg.coding.net/yushu_web/npm/:username=pcbqkqgzzm
//persagy2021-npm.pkg.coding.net/yushu_web/npm/:_password=Cdsf@119
//persagy2021-npm.pkg.coding.net/yushu_web/npm/:email=huangqiuyan@yushu.biz